<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>initial_data</key>
	<dict>
		<key>release_periods</key>
		<array>
			<dict>
				<key>release_period</key>
				<dict>
					<key>identifier</key>
					<integer>1</integer>
					<key>name</key>
					<string>Released</string>
					<key>placeholder</key>
					<dict>
						<key>title</key>
						<string>ZZZ</string>
						<key>release_date</key>
						<date>2060-01-01T12:00:00Z</date>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>release_period</key>
				<dict>
					<key>identifier</key>
					<integer>2</integer>
					<key>name</key>
					<string>Recently Released</string>
					<key>placeholder</key>
					<dict>
						<key>title</key>
						<string>ZZZ</string>
						<key>release_date</key>
						<date>2060-01-01T12:00:00Z</date>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>release_period</key>
				<dict>
					<key>identifier</key>
					<integer>3</integer>
					<key>name</key>
					<string>This Week</string>
					<key>placeholder</key>
					<dict>
						<key>title</key>
						<string>ZZZ</string>
						<key>release_date</key>
						<date>2060-01-01T12:00:00Z</date>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>release_period</key>
				<dict>
					<key>identifier</key>
					<integer>4</integer>
					<key>name</key>
					<string>Next Week</string>
					<key>placeholder</key>
					<dict>
						<key>title</key>
						<string>ZZZ</string>
						<key>release_date</key>
						<date>2060-01-01T12:00:00Z</date>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>release_period</key>
				<dict>
					<key>identifier</key>
					<integer>5</integer>
					<key>name</key>
					<string>This Month</string>
					<key>placeholder</key>
					<dict>
						<key>title</key>
						<string>ZZZ</string>
						<key>release_date</key>
						<date>2060-01-01T12:00:00Z</date>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>release_period</key>
				<dict>
					<key>identifier</key>
					<integer>6</integer>
					<key>name</key>
					<string>Next Month</string>
					<key>placeholder</key>
					<dict>
						<key>title</key>
						<string>ZZZ</string>
						<key>release_date</key>
						<date>2060-01-01T12:00:00Z</date>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>release_period</key>
				<dict>
					<key>identifier</key>
					<integer>7</integer>
					<key>name</key>
					<string>This Quarter</string>
					<key>placeholder</key>
					<dict>
						<key>title</key>
						<string>ZZZ</string>
						<key>release_date</key>
						<date>2060-01-01T12:00:00Z</date>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>release_period</key>
				<dict>
					<key>identifier</key>
					<integer>8</integer>
					<key>name</key>
					<string>Next Quarter</string>
					<key>placeholder</key>
					<dict>
						<key>title</key>
						<string>ZZZ</string>
						<key>release_date</key>
						<date>2060-01-01T12:00:00Z</date>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>release_period</key>
				<dict>
					<key>identifier</key>
					<integer>9</integer>
					<key>name</key>
					<string>This Year</string>
					<key>placeholder</key>
					<dict>
						<key>title</key>
						<string>ZZZ</string>
						<key>release_date</key>
						<date>2060-01-01T12:00:00Z</date>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>release_period</key>
				<dict>
					<key>identifier</key>
					<integer>10</integer>
					<key>name</key>
					<string>Next Year</string>
					<key>placeholder</key>
					<dict>
						<key>title</key>
						<string>ZZZ</string>
						<key>release_date</key>
						<date>2060-01-01T12:00:00Z</date>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>release_period</key>
				<dict>
					<key>identifier</key>
					<integer>11</integer>
					<key>name</key>
					<string>Later</string>
					<key>placeholder</key>
					<dict>
						<key>title</key>
						<string>ZZZ</string>
						<key>release_date</key>
						<date>2060-01-01T12:00:00Z</date>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>release_period</key>
				<dict>
					<key>identifier</key>
					<integer>12</integer>
					<key>name</key>
					<string>To Be Announced</string>
					<key>placeholder</key>
					<dict>
						<key>title</key>
						<string>ZZZ</string>
						<key>release_date</key>
						<date>2060-01-01T12:00:00Z</date>
					</dict>
				</dict>
			</dict>
		</array>
		<key>regions</key>
		<array>
			<dict>
				<key>region</key>
				<dict>
					<key>identifier</key>
					<integer>1</integer>
					<key>name</key>
					<string>United States</string>
					<key>abbreviation</key>
					<string>US</string>
					<key>image_name</key>
					<string>FlagUnitedStates</string>
				</dict>
			</dict>
			<dict>
				<key>region</key>
				<dict>
					<key>identifier</key>
					<integer>2</integer>
					<key>name</key>
					<string>United Kingdom</string>
					<key>image_name</key>
					<string>FlagUnitedKingdom</string>
				</dict>
			</dict>
			<dict>
				<key>region</key>
				<dict>
					<key>identifier</key>
					<integer>6</integer>
					<key>name</key>
					<string>Japan</string>
					<key>image_name</key>
					<string>FlagJapan</string>
				</dict>
			</dict>
			<dict>
				<key>region</key>
				<dict>
					<key>identifier</key>
					<integer>11</integer>
					<key>name</key>
					<string>Australia</string>
					<key>image_name</key>
					<string>FlagAustralia</string>
				</dict>
			</dict>
		</array>
		<key>platforms</key>
		<array>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>94</integer>
					<key>name</key>
					<string>PC</string>
					<key>abbreviation</key>
					<string>PC</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>0</integer>
						<key>green</key>
						<integer>0</integer>
						<key>blue</key>
						<integer>0</integer>
					</dict>
					<key>index</key>
					<integer>0</integer>
					<key>group</key>
					<integer>0</integer>
					<key>metacritic_identifier</key>
					<integer>3</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>146</integer>
					<key>name</key>
					<string>PlayStation 4</string>
					<key>abbreviation</key>
					<string>PS4</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<real>0.003921569</real>
						<key>green</key>
						<real>0.262745098</real>
						<key>blue</key>
						<real>0.603921569</real>
					</dict>
					<key>index</key>
					<integer>1</integer>
					<key>group</key>
					<integer>0</integer>
					<key>metacritic_identifier</key>
					<integer>72496</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>145</integer>
					<key>name</key>
					<string>Xbox One</string>
					<key>abbreviation</key>
					<string>XONE</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<real>0.058823529</real>
						<key>green</key>
						<real>0.42745098</real>
						<key>blue</key>
						<integer>0</integer>
					</dict>
					<key>index</key>
					<integer>2</integer>
					<key>group</key>
					<integer>0</integer>
					<key>metacritic_identifier</key>
					<integer>80000</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>139</integer>
					<key>name</key>
					<string>Wii U</string>
					<key>abbreviation</key>
					<string>WIIU</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>0</integer>
						<key>green</key>
						<real>0.521568627</real>
						<key>blue</key>
						<real>0.749019608</real>
					</dict>
					<key>index</key>
					<integer>3</integer>
					<key>group</key>
					<integer>0</integer>
					<key>metacritic_identifier</key>
					<integer>68410</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>117</integer>
					<key>name</key>
					<string>Nintendo 3DS</string>
					<key>abbreviation</key>
					<string>3DS</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<real>0.764705882</real>
						<key>green</key>
						<integer>0</integer>
						<key>blue</key>
						<real>0.058823529</real>
					</dict>
					<key>index</key>
					<integer>4</integer>
					<key>group</key>
					<integer>0</integer>
					<key>metacritic_identifier</key>
					<integer>16</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>129</integer>
					<key>name</key>
					<string>PlayStation Vita</string>
					<key>abbreviation</key>
					<string>VITA</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>0</integer>
						<key>green</key>
						<real>0.235294118</real>
						<key>blue</key>
						<real>0.592156863</real>
					</dict>
					<key>index</key>
					<integer>5</integer>
					<key>group</key>
					<integer>0</integer>
					<key>metacritic_identifier</key>
					<integer>67365</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>35</integer>
					<key>name</key>
					<string>PlayStation 3</string>
					<key>abbreviation</key>
					<string>PS3</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>0</integer>
						<key>green</key>
						<real>0.039215686</real>
						<key>blue</key>
						<real>0.525490196</real>
					</dict>
					<key>index</key>
					<integer>0</integer>
					<key>group</key>
					<integer>1</integer>
					<key>metacritic_identifier</key>
					<integer>1</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>20</integer>
					<key>name</key>
					<string>Xbox 360</string>
					<key>abbreviation</key>
					<string>X360</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<real>0.501960784</real>
						<key>green</key>
						<real>0.760784314</real>
						<key>blue</key>
						<real>0.145098039</real>
					</dict>
					<key>index</key>
					<integer>1</integer>
					<key>group</key>
					<integer>1</integer>
					<key>metacritic_identifier</key>
					<integer>2</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>36</integer>
					<key>name</key>
					<string>Wii</string>
					<key>abbreviation</key>
					<string>WII</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<real>0.352941176</real>
						<key>green</key>
						<real>0.784313725</real>
						<key>blue</key>
						<real>0.941176471</real>
					</dict>
					<key>index</key>
					<integer>2</integer>
					<key>group</key>
					<integer>1</integer>
					<key>metacritic_identifier</key>
					<integer>8</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>52</integer>
					<key>name</key>
					<string>Nintendo DS</string>
					<key>abbreviation</key>
					<string>DS</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<real>0.666666667</real>
						<key>green</key>
						<real>0.31372549</real>
						<key>blue</key>
						<real>0.31372549</real>
					</dict>
					<key>index</key>
					<integer>3</integer>
					<key>group</key>
					<integer>1</integer>
					<key>metacritic_identifier</key>
					<integer>4</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>18</integer>
					<key>name</key>
					<string>PlayStation Portable</string>
					<key>abbreviation</key>
					<string>PSP</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<real>0.196078431</real>
						<key>green</key>
						<real>0.196078431</real>
						<key>blue</key>
						<real>0.549019608</real>
					</dict>
					<key>index</key>
					<integer>4</integer>
					<key>group</key>
					<integer>1</integer>
					<key>metacritic_identifier</key>
					<integer>7</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>23</integer>
					<key>name</key>
					<string>GameCube</string>
					<key>abbreviation</key>
					<string>GC</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<real>0.282352941</real>
						<key>green</key>
						<real>0.321568627</real>
						<key>blue</key>
						<real>0.603921569</real>
					</dict>
					<key>index</key>
					<integer>0</integer>
					<key>group</key>
					<integer>2</integer>
					<key>metacritic_identifier</key>
					<integer>13</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>19</integer>
					<key>name</key>
					<string>PlayStation 2</string>
					<key>abbreviation</key>
					<string>PS2</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>0</integer>
						<key>green</key>
						<integer>0</integer>
						<key>blue</key>
						<real>0.392156863</real>
					</dict>
					<key>index</key>
					<integer>1</integer>
					<key>group</key>
					<integer>2</integer>
					<key>metacritic_identifier</key>
					<integer>6</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>32</integer>
					<key>name</key>
					<string>Xbox</string>
					<key>abbreviation</key>
					<string>XBOX</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<real>0.549019608</real>
						<key>green</key>
						<real>0.862745098</real>
						<key>blue</key>
						<real>0.392156863</real>
					</dict>
					<key>index</key>
					<integer>2</integer>
					<key>group</key>
					<integer>2</integer>
					<key>metacritic_identifier</key>
					<integer>12</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>37</integer>
					<key>name</key>
					<string>Dreamcast</string>
					<key>abbreviation</key>
					<string>DC</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<real>0.929411765</real>
						<key>green</key>
						<real>0.517647059</real>
						<key>blue</key>
						<real>0.196078431</real>
					</dict>
					<key>index</key>
					<integer>3</integer>
					<key>group</key>
					<integer>2</integer>
					<key>metacritic_identifier</key>
					<integer>15</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>4</integer>
					<key>name</key>
					<string>Game Boy Advance</string>
					<key>abbreviation</key>
					<string>GBA</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<real>0.384313725</real>
						<key>green</key>
						<real>0.133333333</real>
						<key>blue</key>
						<real>0.588235294</real>
					</dict>
					<key>index</key>
					<integer>4</integer>
					<key>group</key>
					<integer>2</integer>
					<key>metacritic_identifier</key>
					<integer>11</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>43</integer>
					<key>name</key>
					<string>Nintendo 64</string>
					<key>abbreviation</key>
					<string>N64</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<real>0.956862745</real>
						<key>green</key>
						<real>0.7019607839999999</real>
						<key>blue</key>
						<integer>0</integer>
					</dict>
					<key>index</key>
					<integer>0</integer>
					<key>group</key>
					<integer>3</integer>
					<key>metacritic_identifier</key>
					<integer>14</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>22</integer>
					<key>name</key>
					<string>PlayStation</string>
					<key>abbreviation</key>
					<string>PS1</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<real>0.2</real>
						<key>green</key>
						<real>0.423529412</real>
						<key>blue</key>
						<real>0.7019607839999999</real>
					</dict>
					<key>index</key>
					<integer>1</integer>
					<key>group</key>
					<integer>3</integer>
					<key>metacritic_identifier</key>
					<integer>10</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>42</integer>
					<key>name</key>
					<string>Saturn</string>
					<key>abbreviation</key>
					<string>SAT</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<real>0.22745098</real>
						<key>green</key>
						<real>0.490196078</real>
						<key>blue</key>
						<integer>1</integer>
					</dict>
					<key>index</key>
					<integer>2</integer>
					<key>group</key>
					<integer>3</integer>
					<key>metacritic_identifier</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>platform</key>
				<dict>
					<key>identifier</key>
					<integer>57</integer>
					<key>name</key>
					<string>Game Boy Color</string>
					<key>abbreviation</key>
					<string>GBC</string>
					<key>color</key>
					<dict>
						<key>red</key>
						<integer>0</integer>
						<key>green</key>
						<real>0.584313725</real>
						<key>blue</key>
						<real>0.541176471</real>
					</dict>
					<key>index</key>
					<integer>3</integer>
					<key>group</key>
					<integer>3</integer>
					<key>metacritic_identifier</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
